{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {gun, "~> 2.1"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    covertool
]}.

{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []}
    ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["eunit.coverdata"]}]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [gun, public_key]}
]}.

{hex, [
    {doc, #{provider => ex_doc}},
    {include_files, [
        <<"src">>,
        <<"include">>,
        <<"rebar.config">>,
        <<"rebar.lock">>,
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/Taure/denshi">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/Taure/denshi">>},
    {api_reference, true}
]}.
